.contributors-avatar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contributors-avatar li {
    list-style: none;
    text-align: center;
}

.contributors-avatar li img {
    max-width: 150px;
}

.contributors-avatar li a {
    display: block;
}
