---

name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.9, 3.8 ,3.7]

    steps:
      - uses: actions/checkout@v2
      - name: "Set up Python"
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: "Install dependencies"
        run: |
          python -m pip install .[test,doc]
      - name: "Lint code"
        run: |
          pre-commit run --all-files
      - name: "Build sample"
        run: |
          make -C docs dirhtml
      - name: "Run tests"
        run: |
          pytest -vvv
